.quizTitle {
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.startButton {
    /* changed cursor appearance to signify when hovering over a button */
    cursor: pointer;
    font-size: 24px;
    background-color: green;
    color: white;
}